<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yfl.backpacker.buglog">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity android:name=".ui.CrashShowActivity"
            android:theme="@style/MCrashAppTheme"/>
        <activity android:name=".ui.CrashListActivity"
            android:theme="@style/MCrashAppTheme"/>
        <activity android:name=".ui.CrashDetailsActivity"
            android:theme="@style/MCrashAppTheme"/>
        <activity android:name=".ui.CrashBaseActivity"
            android:theme="@style/MCrashAppTheme"/>
        <provider
            android:name=".utils.MCrashFileProvider"
            android:authorities="${applicationId}.crashFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/m_crash_file_provider" />
        </provider>
    </application>

</manifest>