<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yfl.backpacker.buglog">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity android:name=".ui.CrashShowActivity"></activity>
        <activity android:name=".ui.CrashListActivity" />
        <activity android:name=".ui.CrashDetailsActivity" />
        <activity android:name=".ui.CrashBaseActivity" />

    </application>

</manifest>